<h1>Football Stats</h1>

<table>
  <tr>
    <th>Rank</th>
    <th>Player</th>
  </tr>
  {{#each tophundred}}
  <tr>
  	
    <td>{{this.id}}</td>
    <td>{{this.player}}</td>
  </tr>
  {{/each}}
</table>
